body {
    background-image: url('world.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
}

p {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    font-size: 20px;

}

.grid_container {
    perspective: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-items: center;
}

h1 {
    font-family: 'Comfortaa', cursive;
    padding: 20px;
    border-radius: 25px;
    background: cornflowerblue;
    text-align: center;
}

.card {
    background-color: transparent;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    font-family: 'Comfortaa', cursive;
}

.card-inner {
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    border-radius: 15px;
    position: absolute;
    width: 150px;
    height: 150px;
    backface-visibility: hidden;
}

.card-front {
    background-color: lightskyblue;
}

.card-back {
    background-color: royalblue;
    transform: rotateY(180deg);
}